*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.wxl_parcel{
    float: right;
    overflow: hidden;
    width: 49%;
    background:#DD9D46;
    margin-top: 0.5rem;
}

.parcel_text{
    height: 3rem;
    color: white;
    float: left;
}
.parcel_text p{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.parcel_text p:nth-of-type(1){
    font-size: 1rem;
}
.parcel_text p:nth-of-type(2){
    margin-top: -0.3rem;
    font-size: 0.6rem;
}
.wxl_parcel img{
    float: right;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}