*{
    margin: 0;
    padding: 0;
}
.lhx-yezhu-change{
    width: 16rem;
    margin-bottom: 2.1rem;
}
.lhx-footer{
    width: 100%;
    height: 2.1rem;
    position: fixed;
    bottom: 0rem;
    left:0rem;
}
.lhx-footer a{
    width: 25%;
    height: 2.1rem;
    display: inline-block;
    text-align: center;
    line-height: 2.1rem;
    border-right:1px solid #fff;
    box-sizing: border-box;
    background-color: #fff;
}
.lhx-footer a:last-of-type{
    border:none
}